@using Student_Hostel.ViewModels
@model StudentEditModel
<div class="container">
    <h2>修改学生信息</h2>
    <form action="add" method="post">
        <div class="form-group">
            <div>
                <input type="hidden" name="id" value="@Model.student.Id" />
            </div>
            <label for="id">学号:</label>
            <input type="text" class="form-control" placeholder="Enter Code" name="Code" value="@Model.student.Code">
        </div>
        <div class="form-group">
            <label for="name">姓名:</label>
            <input type="text" class="form-control" placeholder="Enter Name" name="Name" value="@Model.student.Name">
        </div>
        <div class="form-group">
            <label for="sex">性别:</label>
            @if (Model.student.Sex)
            {
                <input type="radio" name="sex" value="true" checked />@:男
                <input type="radio" name="sex" value="false" />@:女

            }
            else
            {
                <input type="radio" name="sex" value="true" />@:男
                <input type="radio" name="sex" value="false" checked />@:女
            }
        </div>
        <div class="form-group">
            <label for="birth">出生日期:</label>
            <input type="text" class="form-control" name="Birth" value="@Model.student.Birth" />
        </div>
        <div class="form-group">
            <label for="email">电话:</label>
            <input type="text" class="form-control" name="Phone" value="@Model.student.Phone">
        </div>
        <div class="form-group">
            <label for="departmentId">宿舍号:</label>
            <select class="select" name="DormitoryId">
                @foreach (var item in Model.Dormitories)
                {
                    if (item.Id == @Model.student.DormitoryId)
                    {

                        <option value="@item.Id" selected>@item.DorName</option>
                    }
                    else
                    {
                        <option value="@item.Id">@item.DorName</option>
                    }
                }
            </select>

        </div>
        <div class="form-group">
            <label for="DormitoryId">学院：</label>
            <input type="text" class="form-control" name="DepartmentName" value="@Model.student.DepartmentName">
        </div>
        <div class="form-group">
            <label for="Remark">备注：</label>
            <input type="text" class="form-control" name="Remark" value="@Model.student.Remark">
        </div>

        <button type="submit" class="btn btn-primary">修改</button>
        <a href="/Home/Index">返回</a>
        <label class="col-form-label">@ViewBag.Msg</label>

    </form>
</div>
